* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, cursive;
  height: 100%;
  background: #d1c02a;
  color: white;
}

.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0px;
  font-size: 16px;
  padding: 1em;
  background-color: #d1c02a;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.avatar {
  width: 100px;
  border-radius: 50px 15px 30px;
  border: 2px solid rgb(232, 248, 11);
  box-shadow: 0 0 10px rgb(182, 173, 91);
  margin-bottom: 20px;

  }


h1{
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h2{
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.social {
  text-align: center;
  list-style: none;
 
}


.social img {
  width: 33px;
  margin: 20px;
  width: 2em;
  margin: 1em;
  transition: transform 0.5s ease;
}

.social :hover{
  width: 30px;
  transform: rotate(360deg);
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  justify-content: center;
  position: absolute;
  width: 100%;
  display: block;
 bottom: 0;
}

footer:hover{
  background-color: rgb(209, 15, 15);
}

@media (max-width: 420px) {
  .container {
    height: auto;
    width: 90%;
    padding: 30px;
    border-radius: 0;
    
    
  }
}